@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext');     

body {
    font-family: 'Lato', sans-serif;
    min-width:1440px;
    margin:0;
    padding:0;
}

.form-control::-moz-placeholder {
	color: #bbb;
	opacity: 1;
	filter: alpha(opacity=100);
	font-weight: 600;
	letter-spacing: 0.3px;
}
section {
    padding: 50px 0;
}
.section-grad {
    padding: 150px 0;
    background: linear-gradient(#72cca8,#aee7c8 13%,#f3f9f8 40%,#F6F9FC 60%,#F6F9FC 150%,#fff);
    -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
    clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
}

/*==== HOME ====*/
.navbar, .header {
    font-family: 'Lato', sans-serif;
}
.navbar {
	background: #FFF;
	margin-bottom: 0;
	box-shadow: 0 1px #fff inset, 0 2px 5px rgba(34, 25, 25, 0.2) !important;
}
.navbar .navbar-toggler-bar,
.navbar .navbar-toggler {
	border-color: #24b47e;
}
.navbar .navbar-brand::first-letter {
	font-size: 20px;
	color: rgba(36, 180, 126, .80);
	font-weight: 700;
}
.navbar .navbar-brand {
	font-size: 18px;
	font-weight: 900;
    text-transform: none;
	color: #24b47e !important;
}
.dropdown-menu .dropdown-item:hover {
    background: rgba(36, 180, 126, .3);
}
.dropdown-menu .dropdown-item, 
.navbar a:not(.btn):not(.dropdown-item) {
	color: #525f7f;
}
.dropdown-menu .dropdown-item,
.navbar .navbar-nav .nav-link:not(.btn) {
	font-size: 11px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-shadow: 0 1px 5px rgba(0,0,0,.1);
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
/*==== HOME ====*/
#home {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
}
#home {
    min-height: 500px;
    margin-bottom: 40px;
    position: relative;
    background: url("../images/shade.jpg") no-repeat scroll center top / cover;
}
#home::before {
    content: "";
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    background: linear-gradient(#72cca8 40%,#aee7c8 60%, #f3f9f8 100%);
    opacity: .5;
}

.header-intro-wrap.text-center {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.header-intro-title h1 {
    color:  #fff;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
    text-shadow: 0 2px 5px rgba(0,0,0,.1);
}
.header-intro-tag {    
    color:  #fff;
    font-size:  20px;
    font-weight:  400;
    margin-bottom:  30px;
    text-shadow: 0 1px 5px rgba(0,0,0,.2);

}
.main-btn {
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}

/*==== footer ====*/
.social-icon {
	display: block;
}
.social-icon li i:hover {
    color: #8898aa;
}

.social-icon li i {
    cursor: pointer;
	font-size: 20px;
	margin: 0 2px;
	color: #becee0;
}

/*==== index page ====*/
.blog-posts {
	padding-top: 10px;
}
.blog-posts .blog-post {
	background-color: #ffffff;
	margin-bottom: 30px;
	box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
	border-radius: 6px;
	overflow: hidden;
}
.blog-posts a {
    text-decoration: none;
}
.blog-posts h4 {
	color: #4c4c6d;
	font-size: 14px;
	font-weight: 900;
	line-height: 25px;
	margin-bottom: 15px;
	margin-top: 12px;
	text-transform: uppercase;
	letter-spacing: .2px;
}
.blog-posts .blog-details p {
	color: #647293;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .1px;
	line-height: 1.7;
}
.blog-posts .post-img {
    position: relative;
}
.blog-posts .post-img img {
    width: 100%;
}
.blog-posts .blog-post .blog-details {
	padding: 20px;
	min-height: 245px;
}
.blog-posts .blog-post .blog-details .list-inline {
    margin: 0;
    display: block;
}

.date{
    display:inline-block;
    border-radius:10%;
    border:1px solid #666666;
    margin-left:5%;
    margin-bottom: 5%;
    padding:3px;
}
.date a{
    font-size:30px;
}

.blog-posts .blog-post .blog-details .blog-item-links > .list-inline-item:not(:last-child) {
	margin-right: 7px;
	margin-bottom: 5px;
}
.blog-posts .blog-post .blog-details .blog-item-tags > .list-inline-item:not(:last-child) {
    margin-right: 5px;
    margin-bottom: 8px;
}
.blog-posts .blog-post .blog-details .blog-item-tags > li a {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    color: #999;
}
.blog-posts .blog-post .blog-details .blog-item-links > li > a > i {
	color: #92a1b2;
	margin-right: 5px;
	font-size: 11px;
}
.blog-posts .blog-post .blog-details .blog-item-links > li a {
	color: #8898aa;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2px;
	text-transform: capitalize;
}
.blog-posts .blog-post .blog-details .blog-item-tags > li a:hover,
.blog-posts .blog-post .blog-details .blog-item-links > li a:hover {
    color: #10b765;
    text-decoration: none;
}
.blog-posts .blog-post .blog-item-btn:active:focus,
.blog-posts .blog-post .blog-item-btn:hover {
    background-color: #10b765;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.blog-posts .blog-post .blog-post-link:hover { color: #10B765; }
.blog-posts .blog-post .blog-post-link {
	display: inline-block;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 900;
	word-spacing: 2px;
	color: #f96332;
	letter-spacing: .5px;
}

/* =============item page==========*/
.market-depth{
	background:url("../images/shade.jpg");
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 15px;
	padding-bottom: 49px;
	background-attachment: fixed;
}
.market-depth h3{
	text-align: center;
	color:black;
}

.buy_sell{
	display:flex;
	justify-content:space-around;
}

.buy {
	background: #ffffff;
	width:50%;
	min-height:200px;
	position:relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin:20px 20px 20px 20px;
}
.sell{
	background: #ffffff;
	width:50%;
	min-height:200px;
	position:relative;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	margin:20px 20px 20px 20px;
}

.market-depth table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:15px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
	margin:auto;
    margin-bottom:20px;
	overflow:auto;
}
table.gridtable th {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
	color:#ffa500;
	padding:8px;
}
table.gridtable td {
	border-width: 1px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
	color:black;
	padding:8px;
}
td:first-child {width:10%;}
td:nth-child(2){ width:50%;}
td:last-child{width:50%;}
.go-order{
	background:#1beb11;
	border-radius:5px;
	border-style:dashed;
	border-width:2px;
	border-color:black;
	color:red;
	margin-top:20px;
	margin-left:45%;
	padding:10px;
	text-transform: uppercase;
}
/*==================pend page ====================*/
.pend{
    background:url("../images/shade.jpg");
    min-height:500px;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 15px;
    padding-bottom: 49px;
    background-attachment: fixed;
}
.pend #first .gridtable{
    margin-left:25%;
}
.pend h3{
    text-align: center;
    color:black;
}
/*==============transaction page====================*/
.transaction{
	background:url("../images/shade.jpg");
	min-height:500px;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 15px;
	padding-bottom: 49px;
	background-attachment: fixed;
}

.transaction h3{
	text-align:center;
	color:black;
}
.f_s_t{
    width:1440px;
    margin-left:30px;
}
.gridtable{
    border-color:red;
}
.gridtable th{
    text-align:center;
}
#first .gridtable {
    position:relative;
    width:50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    float:left;
}
#first th{
    height:80px;
    background:gainsboro;
}
#s_t{
    width:50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    float:left;
}
#s_t th{
    height:25px;
    width:360px;
    background: gray;
}
/*=======================transaction end================*/

/*======================== END CSS =========================*/

/*==== blog- post ====*/
.single-post {
	padding-top: 50px;
}
.blog-post {
	padding-bottom: 0;
}
.post-card {
	background-color: #fff;
}
.single-post-header {
	text-align: center;
}
.single-post-header h1 {
	text-transform: capitalize;
	max-width: 700px;
	color: #32325d;
	margin-left: auto;
	margin-right: auto;
	font-weight: 900;
	padding-top: 5px;
	line-height: 40px;
	font-size: 23px;
	margin-bottom: 0;
}
.single-post-header .post-tag {
	font-weight: 600;
	font-size: 11px;
	color: #a9bacc;
	letter-spacing: .6px;
	display: inline-block;
}
/*=====================================================
            Media Queried
======================================================*/

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    #home,
    #home-2,
    #home-3 {
        min-height: 600px;
    }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    #home,
    #home-2,
    #home-3 {
        min-height: 500px;
    }
    .header-intro-title h1 {
        font-size: 30px;
    }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    #home,
    #home-2,
    #home-3 {
        min-height: 400px;
    }
    #home-2 .header-intro-wrap,
    #home-3 .header-intro-wrap {
        text-align: center;
    }
    
    .features {
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 12%, 100% 0, 100% 88%, 0% 100%);
    }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    
    #home-2 {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    }
    #home-2 {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 70% 100%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 70% 100%, 0 90%);
    }
    #home-3 {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 30%, 70% 100%, 0 90%);
        clip-path: polygon(0 0, 100% 0, 100% 90%, 30% 100%, 0 90%);
    }
    .header-intro-title h1 {
        font-size: 28px;
    }
    
    .features {
        -webkit-clip-path: polygon(0 15%, 100% 0, 100% 85%, 0% 100%);
        clip-path: polygon(0 4%, 100% 0, 100% 96%, 0% 100%);
        padding: 100px 0;
    }
    
    .list-feature .feature-wrap .media {
        ddisplay: block;
    }
}

@media (max-width: 379.98px) {
    
    .list-feature .feature-wrap .media {
        display: block;
    }
    .blog-posts .blog-post .blog-details .blog-item-links > li > a > i {
        display: none;
    }
}